@page "/counter"

<PageTitle>Busqueda</PageTitle>

<a href="/">Regresar</a>

<h1>Simulando busqueda...</h1>


<p class="placeholder-glow">
    <span class="placeholder col-4"></span>
</p>

<p class="placeholder-wave">
    <span class="placeholder col-12"></span>
</p>

<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
</p>

<p class="placeholder-wave">
    <span class="placeholder col-12"></span>
</p>

<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
</p>

<p class="placeholder-wave">
    <span class="placeholder col-12"></span>
</p>

<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
</p>

<p class="placeholder-wave">
    <span class="placeholder col-12"></span>
</p>



@code {
}
