@page "/historia"

<style>
    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
</style>

<div class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Nuestros Inicios</h1>
            <p class="lead">
                Miniabastos nació en el corazón de la Central de Abastos de Oaxaca, como un pequeño sueño que creció con esfuerzo y dedicación. 
                Desde nuestros humildes comienzos, hemos sido testigos de la importancia de los abarrotes en la vida diaria de las personas y 
                nos enorgullece llevar esta tradición a la era digital.
            </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/Imagenes_Productos/Historia_NuestrosInicios.jpg" 
                class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/Imagenes_Productos/Historia_NuestroEquipo.png" 
                class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Nuestro Equipo</h1>
            <p class="lead">
                En Miniabastos, somos un equipo apasionado y comprometido con el servicio al cliente. Desde los fundadores que crearon esta 
                tienda hasta nuestros empleados actuales, compartimos la misma pasión por brindar a nuestros clientes los mejores productos 
                y experiencias. Juntos, trabajamos incansablemente para hacer que tus compras en línea sean fáciles y satisfactorias.
            </p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Nuestras Metas</h1>
            <p class="lead">Nuestra principal meta es continuar siendo la tienda de abarrotes de referencia en Oaxaca. Queremos 
                seguir ofreciendo productos de calidad, al tiempo que expandimos nuestro catálogo para satisfacer las necesidades 
                cambiantes de nuestros clientes. Además, estamos comprometidos con apoyar a la comunidad local y fomentar prácticas sostenibles 
                en nuestra operación. Tu satisfacción y confianza son nuestra mayor motivación.</p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/Imagenes_Productos/Historia_NuestrasMetas.jpg" 
                class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

@code {

}
