@page "/sucursales"

<style>
    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
</style>

<div class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sucursal Central Abastos Modulo Q</h1>
            <p class="lead">Módulo Q 17, Central de Abasto, 68090 Oaxaca de Juárez, Oax.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://web.whatsapp.com/" target="_blank">
                    <button type="button" class="btn btn-outline-success btn-lg px-4 me-md-2">
                        <i class="bi bi-whatsapp"></i>
                        WhatsApp
                    </button>
                </a>
                <a href="https://maps.app.goo.gl/qA5Lu895Pw3uRpX26" target="_blank">
                    <button type="button" class="btn btn-outline-warning btn-lg px-4">
                        <i class="bi bi-geo-alt"></i>
                        Google maps
                    </button>
                </a>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/Imagenes_Productos/Sucursal_CentralModuloQ.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/Imagenes_Productos/Sucursal_Nochixtlan.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sucursal Nochixtlan</h1>
            <p class="lead">69600, José María Morelos 19, El Calvario, Asunción Nochixtlán, Oax.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://web.whatsapp.com/" target="_blank">
                    <button type="button" class="btn btn-outline-success btn-lg px-4 me-md-2">
                        <i class="bi bi-whatsapp"></i>
                        WhatsApp
                    </button>
                </a>
                <a href="https://maps.app.goo.gl/fZhd58sKu9Rbu4EB6" target="_blank">
                    <button type="button" class="btn btn-outline-warning btn-lg px-4">
                        <i class="bi bi-geo-alt"></i>
                        Google maps
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sucursal Puerto Escondido</h1>
            <p class="lead">Calle 3a Nte. 103, Centro, 71980 Puerto Escondido, Oax.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://web.whatsapp.com/" target="_blank">
                    <button type="button" class="btn btn-outline-success btn-lg px-4 me-md-2">
                        <i class="bi bi-whatsapp"></i>
                        WhatsApp
                    </button>
                </a>
                <a href="https://maps.app.goo.gl/xLGLLBfgzp585dAo6" target="_blank">
                    <button type="button" class="btn btn-outline-warning btn-lg px-4">
                        <i class="bi bi-geo-alt"></i>
                        Google maps
                    </button>
                </a>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/Imagenes_Productos/Sucursal_PuertoEscondido.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

@code {

}
